<section id=event>

  <form class="forms columnar" action="{{editlink}}" method="post">
    <fieldset>
    {{#event}}
      {{^new?}}
      <input type="hidden" name="_method" value="put">
      {{/new?}}
      <ul>
        <li>
          <label class="bold" for="date">Datum <span class="req">*</span></label>
          <input id="date" type="date" name="event[date]" value="{{date}}" placeholder="{{today}}" required>
        </li>
        <li>
          <label class="bold" for="title">Bezeichnung <span class="req">*</span></label>
          <input id="title" type="text" name="event[title]" size="60" value="{{title}}" required>
        </li>
        <li>
          <label class="bold" for="distance">Distanz <span class="req">*</span></label>
          <input id="distance" type="text" name="event[distance]" size="3" value="{{distance}}" placeholder="80" required>
          <span class="descr">km</span>
        </li>
        <li>
          <label class="bold" for="url">URL</label>
          <input id="url" type="url" name="event[url]" size="60" value="{{url}}" placeholder="http://">
        </li>
        {{#participations?}}
        <li class="form-section">Teilnehmer</li>

        <li>
          <fieldset>
            <table class="width-100 simple stroked">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>Gesamt</th>
                  <th>AK</th>
                </tr>
              </thead>
              <tbody>
              {{#participations}}
                <tr>
                  <td><input type="checkbox" name="p[{{person.id}}][person_id]" value="{{person.id}}" id="person_{{person.id}}" checked></td>
                  <td><label for="person_{{person.id}}">{{person.name}}</label></td>
                  <td><input type="text" name="p[{{person.id}}][position_overall]" value="{{position_overall}}" size="4"></td>
                  <td><input type="text" name="p[{{person.id}}][position_age_class]" value="{{position_age_class}}" size="4"></td>
                </tr>
              {{/participations}}
              
              {{#non_participations}}
                <tr>
                  <td><input type="checkbox" name="p[{{id}}][person_id]" value="{{id}}" id="person_{{id}}"></td>
                  <td><label for="person_{{id}}">{{name}}</label></td>
                  <td><input type="text" name="p[{{id}}][position_overall]" size="4"></td>
                  <td><input type="text" name="p[{{id}}][position_age_class]" size="4"></td>
                </tr>
              {{/non_participations}}
              </tbody>
            </table>
          </fieldset>
        </li>

        <li class="form-section"></li>

        {{/participations?}}

        <li class="push">
          <button class="btn icon-floppy">Speichern</button>
          {{^new?}}
            <a class="red delete" href="{{deletelink}}" title="Rennen l&ouml;schen?">Rennen l&ouml;schen</a>
          {{/new?}}
        </li>

      </ul>
    {{/event}}
    </fieldset>
  </form>

</section>
