<section id=person>

  <form class="forms columnar" action="{{editlink}}" method="post">
    <fieldset>
    {{#person}}
      {{^new?}}
      <input type="hidden" name="_method" value="put">
      {{/new?}}
      <ul>
        <li>
          <label class="bold" for="first_name">Vorname <span class="req">*</span></label>
          <input id="first_name" type="text" name="person[first_name]" value="{{first_name}}" required>
        </li>
        <li>
          <label class="bold" for="last_name">Nachname <span class="req">*</span></label>
          <input id="last_name" type="text" name="person[last_name]" value="{{last_name}}" required>
        </li>
        <li>
          <fieldset>
            <section>
              <label class="bold" for="email">E-Mail <span class="req">*</span></label>
            </section>
            <input id="email" class="width-50" type="email" name="person[email]" size="30" value="{{email}}" required>
          </fieldset>
        </li>

        <li class="form-section">Kennwort</li>

        {{^new?}}
        <li class="push">
          <p class="gray-light">Kennwort ändern. Nur ausfüllen, wenn Kennwort geändert werden soll.</p>
        </li>
        {{/new?}}

        <li>
          <label class="bold" for="password">Kennwort</label>
          <input id="password" type="password" name="person[password]">
        </li>

        <li>
          <label class="bold" for="password_confirmation">Wiederholung</label>
          <input id="password_confirmation" type="password" name="person[password_confirmation]">
        </li>

        <li class="form-section"></li>

        <li class="push">
          <input class="btn" type="submit" value="Speichern">
        </li>
      </ul>
    {{/person}}
    </fieldset>
  </form>

</section>
