<section id=news>

  <form class="forms columnar" action="{{editlink}}" method="post">
    <fieldset>
    {{#news}}
      {{^new?}}
      <input type="hidden" name="_method" value="put">
      {{/new?}}
      <ul>
        <li>
          <label class="bold" for="date">Datum <span class="req">*</span></label>
          <input id="date" type="date" name="news[date]" value="{{date}}" placeholder={{today}} required>
        </li>
        <li>
          <fieldset>
            <section>
              <label class="bold" for="title">Titel <span class="req">*</span></label>
            </section>
            <input id="title" class="width-100" type="text" name="news[title]" size="60" value="{{title}}" required>
          </fieldset>
        </li>
        <li>
          <fieldset>
            <section>
              <label class="bold" for="teaser">Teaser <span class="req">*</span></label>
            </section>
            <textarea class="width-100" id="teaser" name="news[teaser]" style="height: 54px" required>{{teaser}}</textarea>
          </fieldset>
        </li>
        <li>
          <fieldset>
            <section>
              <label class="bold" for="message">Text</label>
            </section>
            <textarea class="width-100" id="message" name="news[message]" style="height: 387px">{{message}}</textarea>
            <span class="descr">Text wird mit <a class="gray" href="http://daringfireball.net/projects/markdown/dingus" title="Markdown Web Dingus">Markdown</a> formatiert.</span>
          </fieldset>
        </li>
        <li>
          <label class="bold" for="event_id">Rennen</label>
          <select style="width:522px" name="news[event_id]" id="event_id" size="1">
            <option value="">(leer)</option>
            {{#events}}
            <option value="{{id}}"{{#selected}} selected{{/selected}}>{{date_formatted}} - {{title}}, {{distance}} km</option>
            {{/events}}
          </select>
          <span class="descr">Nur f&uuml;r Rennberichte.</span>
        </li>

        <li class="form-section"></li>

        <li class="push">
          <input class="btn" type="submit" value="Speichern">
        </li>
      </ul>
    {{/news}}
    </fieldset>
  </form>

</section>
