<section id=news>

  <header class=row>
    <h2 class=threequarter>News & Rennberichte</h2>
    <nav class="quarter second">
      <form action="/admin/news" method=post>
        <button class="btn btn-square icon-plus">Anlegen</button>
      </form>
    </nav>
  </header>

  <table class="width-100 striped">
    <thead>
      <tr>
        <th class="date">Datum</th>
        <th colspan="2">Titel</th>
      </tr>
    </thead>
    {{> _pagination }}
    <tbody>
      {{#news}}
      <tr>
        <td class="date">{{date_formatted}}</td>
        <td>{{title}}</td>
        <td>
          <a class="icons" href="{{editlink}}">&#x21;</a>
        </td>
      </tr>
      {{/news}}
    </tbody>
  </table>

</section>

<section id=new class=edit>
</section>

<script type=text/template id=edit_template>
  <p><%= id %></p>
  <p><%= date %></p>
  <p><%= title %></p>
  <p><%= slug %></p>
</script>
