javascript:
  var _gaq=[["_setAccount","UA-67221-8"],["_trackPageview"]];(function(a,b){var c=a.createElement(b),d=a.getElementsByTagName(b)[0];c.async=!0,c.src=("https:"==location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js",d.parentNode.insertBefore(c,d)})(document,"script")
