  javascript:
    var _gaq=[["_setAccount","UA-67221-8"],["_trackPageview"]];(function(a,b){var c=a.createElement(b),d=a.getElementsByTagName(b)[0];c.async=!0,c.src=("https:"==location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js",d.parentNode.insertBefore(c,d)})(document,"script")
    var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://');
    document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E'));
  javascript:
    try{var mpmetrics=new MixpanelLib("040445163dd5e80adee25024b899c928")}catch(err){null_fn=function(){};var mpmetrics={track:null_fn,track_funnel:null_fn,register:null_fn,register_once:null_fn,register_funnel:null_fn}}
