@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Sans'), local('DroidSans'), url('/fonts/droidsans.ttf') format('truetype');
}

@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Serif'), local('DroidSerif'), url('/fonts/droidserif.ttf') format('truetype');
}
@font-face {
    font-family: 'Droid Serif';
    font-style: italic;
    font-weight: normal;
    src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url('/fonts/droidserifitalic.ttf') format('truetype');
}

