/* =Typography
-----------------------------------------------------------------------------*/
@font-face {
  font-family: 'broccolidry';
  src:url('/fonts/broccolidry.eot');
  src:url('fonts/broccolidry.eot?#iefix') format('embedded-opentype'),
    url('/fonts/broccolidry.svg#broccolidry') format('svg'),
    url('/fonts/broccolidry.woff') format('woff'),
    url('/fonts/broccolidry.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'broccolidry';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'broccolidry';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.icon-pencil:before {
  content: "\21";
}
.icon-detail:before {
  content: "\22";
}
.icon-plus:before {
  content: "\2b";
}
.icon-floppy:before {
  content: "\25";
}
.icon-cancel:before {
  content: "\78";
}
.icon-envelope:before {
  content: "\23";
}

.icons {
  font-family: 'broccolidry';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}


body {

}

/* =Links
-----------------------------------------------------------------------------*/

table a { text-decoration: none }

/* =Layout
-----------------------------------------------------------------------------*/
.container {
  width: 740px;
  padding: 0 10px;
  margin: 24px auto;
}


/* =Header
-----------------------------------------------------------------------------*/
header {
}

header ul {
}

header li {
}
header a { text-decoration: none }


/* =Nav
-----------------------------------------------------------------------------*/

nav.primary a {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
}

nav.second { text-align: right }

/* =Misc
-----------------------------------------------------------------------------*/

#email .date { text-align: right }
#pagination .pages {
  display: block;
  float: left;
  padding-right: 23px
}
#pagination .page-items span,
#pagination .page-items a {
  display: block;
  float: left;
  margin-right: 6px;
}
#pagination .pages-navigation { font-size: 120% }

th.date,
td.date {
  text-align: right;
}

.success, .errors {
  margin-left: 0;
  padding: 8px 14px;
  text-shadow: 0 1px 0 #fff;
}

.success {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #468847;
}

.errors {
  background-color: #f2dede;
  border: 1px solid #eed3d7;
  color: #b94a48;
}
.errors li {
  list-style: none;
}


button:before { margin-right: 7px }

form .delete {
  margin-left: 10px;
}

#dashboard td span:not(:last-of-type)::after {
  content: ", ";
}


/* =Footer
-----------------------------------------------------------------------------*/
