@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Sans'), local('DroidSans'), url($cdn+'/fonts/DroidSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Serif'), local('DroidSerif'), url($cdn+'/fonts/DroidSerif.ttf') format('truetype');
}
@font-face {
    font-family: 'Droid Serif';
    font-style: italic;
    font-weight: normal;
    src: local('Droid Serif Italic'), local('DroidSerif-Italic'), url($cdn+'/fonts/DroidSerif-Italic.ttf') format('truetype');
}

