$cdn: 'http://berlinracingteam.commondatastorage.googleapis.com';

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}
@mixin box-shadow($h, $v, $blur, $color) {
    -moz-box-shadow: $h $v $blur $color;
    -webkit-box-shadow: $h $v $blur $color;
    box-shadow: $h $v $blur $color;
}

@import 'fonts';
@import 'reset';

/* ------------------------------------------------------------------------------ */
/* 1. Document Setup (body, common classes, vertical rhymes, structure, etc)      */
/* ------------------------------------------------------------------------------ */
body {
    border-top: 10px solid #edf2f9;
    font: 12px/20px "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fff;
    color: #444;
    overflow-y: auto;
}

a {
    color: #88bbc8;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #f36535;
}
a img {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 24px;
    line-height: 28px;
}
h2 {
    font-size: 20px;
    line-height: 22px;
}
h3 {
    font-size: 16px;
    line-height: 20px;
}
h4 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
    font-family: "Droid Serif", Georgia, Times, serif;
    font-style: italic;
}
h5 {
    font-size: 12px;
    line-height: 18px;
}
h6 {
    font-size: 10px;
    line-height: 16px;
}
hr {
    display: none;
    clear: both;
}
ol, ul {
    list-style: none;
}
p, pre, ul, ol, dl, dd, blockquote, address, table, fieldset, form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}
select, input, textarea, button {
    font: 12px/20px "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input, textarea {
    background: url($cdn+'/img/sprite.png') 0 -172px repeat-x;
    border: 1px solid #e0e0e0;
    color: #999;
    padding: 5px;
}
input:focus, textarea:focus {
    color: #444;
}
input {
    width: 190px;
}
input.full {
    width: 596px;
}
textarea {
    resize: none;
    width: 596px;
}

.hidden {
    display: none;
}

.container {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 826px;
}

#content {
    margin-bottom: 40px;
}

.c1-3, .c1-9, .c1-12, .c4-9, .c10-12 {
    display: inline;
    float: left;
    margin-right: 18px;
}
.c1-3 {
    width: 196px;
}
.c1-9 {
    width: 616px;
}
.c1-12 {
    margin-right: 0;
    width: 826px;
}
.c4-9 {
    width: 402px;
}
.c10-12 {
    margin-right: 0;
}
.c10-12 {
    width: 192px;
}

.page-title {
    font-size: 24px;
    line-height: 28px;
    font-family: "Droid Serif", Georgia, Times, serif;
    font-style: italic;
    padding: 38px 0;
    border-bottom: 1px solid #e5ecf7;
}

/* ------------------------------------------------------------------------------ */
/* 2. Header Styles                                                               */
/* ------------------------------------------------------------------------------ */
#header {
    border-bottom: 1px solid #e5ecf7;
    padding: 27px 0 30px 0;
}
#header h1 a {
    background-image: url($cdn+'/img/logo.png');
    display: block;
    float: left;
    height: 43px;
    width: 276px;
}
#header h1 span {
    display: none;
}

/* ------------------------------------------------------------------------------ */
/* 3. Navigation & Menus                                                          */
/* ------------------------------------------------------------------------------ */
#primary-nav {
    float: right;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 10px;
}
#primary-nav ul {
    line-height: 35px;
}
#primary-nav li {
    float: left;
    margin-left: 30px;
}
#primary-nav a {
    color: #999;
    display: block;
    font-weight: bold;
}
#primary-nav a:hover, #primary-nav a.active {
    text-decoration: none;
    color: #444;
}


/* ------------------------------------------------------------------------------ */
/* 4. Main Content Styles                                                         */
/* ------------------------------------------------------------------------------ */
address {
    font-style: italic;
}
button.clean-gray {
    background: #eee;
    background: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    @include border-radius(3px);
    @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.10));
    color: #333;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 25px;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
}

button.clean-gray:hover {
    background: #ddd;
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}

button.clean-gray:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
    -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
    box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}
small {
    font-size: 11px;
}


/* ------------------------------------------------------------------------------ */
/* 5. Footer Styles                                                               */
/* ------------------------------------------------------------------------------ */
#footer {
    background: #edf2f9;
    margin-top: 80px;
    padding: 30px 0 20px 0;
}
#footer .team img {
    background: #fff;
    border: 1px solid #e5ecf7;
    float: left;
    margin: 0 4px 4px 0;
    padding: 3px;
}
#footer .next_events li {
    list-style: none;
}
#footer .next_events .date {
    display: block;
    font-family: "Droid Serif", Georgia, Times, serif;
    font-size: 11px;
    font-style: italic;
    color: #999;
}
#footer .next_events .title {
    font-size: 11px;
    margin-bottom: 10px;
}
#footer .container {
    margin-top: 40px;
}
#footer .copyright {
    border-top: 1px solid #d5e0f2;
    color: #999;
    font-size: 11px;
    padding-top: 35px;
}
#footer a {
    color: #666;
}

/* ------------------------------------------------------------------------------ */
/* 6. Page Templates                                                              */
/* ------------------------------------------------------------------------------ */
.entry-content {
    margin-top: 58px;
}


/* ------------------------------------------------------------------------------ */
/* 7. Widgets                                                                     */
/* ------------------------------------------------------------------------------ */
h3.widget {
    color: #999;
    font-size: 9px;
    font-style: normal;
    font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
/* ------------------------------------------------------------------------------ */
/* 8. Homepage Element                                                            */
/* ------------------------------------------------------------------------------ */
#slider {
    border-bottom: 1px solid #e5ecf7;
    padding: 40px 0 39px 0;
}
#slider .slides_container {
    width: 826px;
    height: 465px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.slides-nav {
    position: relative;
    z-index: 100;
    display: none;
}
.slides-nav a {
    position: absolute;
    display: block;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    background-image: url($cdn+'/img/sprite.png');
    z-index: 10;
}
.slides-nav a.prev {
    background-position: 0 0;
    margin: -243px 0 0 20px;
}
.slides-nav a:hover.prev {
    background-position: 0 -80px;
}
.slides-nav a.next {
    background-position: 0 -40px;
    margin: -243px 0 0 766px;
}
.slides-nav a:hover.next {
    background-position: 0 -120px;
}
.pagination {
    position: absolute;
    z-index: 10;
    margin: -30px 0 0 20px;
}
.pagination li {
    float: left;
    margin: 0 5px 0 0;
}
.pagination li a {
    display: block;
    background: url($cdn+'/img/sprite.png') 0 -160px;
    width: 12px;
    height: 12px;
    outline: none;
}
.pagination li.current a {
    background: url($cdn+'/img/sprite.png') -12px -160px;
}

.home-wrap {
    border-bottom: 1px solid #e5ecf7;
    padding: 40px 0 39px;
}

.home-wrap h3 {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}
.home-wrap p {
    margin-bottom: 15px;
}
.home-wrap .news-box {
    float: left;
    margin-right: 18px;
    width: 196px;
}
.home-wrap .news-box-last {
    margin-right: 0;
}
.home-wrap .meta {
    font-family: "Droid Serif", Georgia, Times, serif;
    font-size: 11px;
    font-style: italic;
    color: #999;
    margin-bottom: 10px;
}

.droid-italic {
    font-family: "Droid Serif", Georgia, Times, serif;
    font-style: italic;
    font-size: 11px;
}
