/* =Typography
-----------------------------------------------------------------------------*/
body {
	
}
	
/* =Links
-----------------------------------------------------------------------------*/


/* =Layout
-----------------------------------------------------------------------------*/
#main {
  width: 940px;
  padding: 0 10px;
  margin: 74px auto;
}


/* =Header
-----------------------------------------------------------------------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  height: 55px;
  z-index: 100;
  width: 100%;
}

header ul {
  width: 940px;
  margin: 20px auto 0 auto;
}

header li {
  display: inline;
  margin-right: 10px;
}
header a {
  text-decoration: none;
}


/* =Nav
-----------------------------------------------------------------------------*/

/* =Misc
-----------------------------------------------------------------------------*/


/* =Footer
-----------------------------------------------------------------------------*/
