{{#flash}}
<section class="container flash">

  {{#success}}
    <section class="success">{{success}}</section>
  {{/success}}

  {{#error}}
    <section class="error">{{error}}</section>
  {{/error}}

</section>
{{/flash}}
