<section id=emails>

  <table>
    <tbody>
    </tbody>
  </table>

</section>

<script type=text/template id=email-template>
  <td><%= id %></td>
  <td><%= date %></td>
  <td><%= name %> (<%= email %>)</td>
</script>
