<section id="emails">

  <header class=row>
    <h2>E-Mails</h2>
  </header>

  <table class="width-100 striped">
    <thead>
      <tr>
        <th>Datum</th>
        <th>Name</th>
        <th>E-Mail</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#emails}}
      <tr>
        <td>{{date_formatted}}</td>
        <td>{{name}}</td>
        <td><a class="gray-dark" href="mailto:{{email}}">{{email}}</a></td>
        <td><a class="icons" href="{{editlink}}">&#x22;</a></td>
      </tr>
      {{/emails}}
    </tbody>
  </table>

</section>
