<section id=email>
  {{#email}}

  <header class=row>
    <section class="twothird">
      <a class="gray-dark" href="mailto:{{email}}" title="{{name}}">{{name}} &lt;{{email}}&gt;</a>
    </section>
    <section class="third date">
      {{date_formatted}}
    </section>
  </header>

  <article class=row>
    {{{message_formatted}}}
  </article>

  {{/email}}
</section>
