<section id=events>

  <header class=row>
    <h2 class=threequarter>Rennen</h2>
    <nav class="quarter second">
      <form action="/admin/events" method=post>
        <button class="btn btn-square icon-plus">Neues Rennen</button>
      </form>
    </nav>
  </header>

  <table class="width-100 striped">
    <thead>
      <tr>
        <th class="date">Datum</th>
        <th colspan="2">Bezeichnung</th>
      </tr>
    </thead>
    {{> _pagination }}
    <tbody>
      {{#events}}
      <tr>
        <td class="date">{{date_formatted}}</td>
        <td>{{title}}</td>
        <td>
          <a class="icons" href="{{editlink}}">&#x21;</a>
        </td>
      </tr>
      {{/events}}
    </tbody>
  </table>

</section>
