<section id=events class=items>

  <table>
    <tbody>
    </tbody>
  </table>

</section>

<script>var url = '/api/events';</script>
<script type=text/template id=template>
  <td><%= id %></td>
  <td><%= date %></td>
  <td><%= title %></td>
  <td><a class=remove title=Entfernen>x</a></td>
</script>
