<!DOCTYPE html>
<meta charset=utf8>
<title>{{ title }}</title>
<style>
  .remove {
    display: none
  }
  tr {
    cursor: pointer;
  }
</style>

<section id=main>
{{{yield}}}
</section>

{{{javascripts}}}
