<!DOCTYPE html>
<html>
<head>
  <meta charset=utf8>
  <title>{{ title }}</title>
  <link rel=stylesheet href=/css/kube.min.css>
  <link rel=stylesheet href=/css/master.css>
</head>

<body>

  <header></header>

  <nav class=container>
    {{#navigation}}
      <a href="{{href}}" title="{{title}}">{{title}}</a>
    {{/navigation}}
  </nav>

  <section class=container>
    {{{yield}}}
  </section>


  {{{javascripts}}}

  {{> _tracking }}
</body>
</html>
