<section id=people>

  <header class=row>
    <h2 class=threequarter>Fahrer</h2>
    <nav class="quarter second">
      <a href="" class=icon-plus>Neuer Fahrer</a>
    </nav>
  </header>

  <table class="width-100 striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#people}}
      <tr>
        <td>{{name}}</td>
        <td><a class="gray-dark" href="mailto:{{email}}">{{email}}</a></td>
        <td><a class="icons" href="{{editlink}}">&#x21;</a></td>
      </tr>
      {{/people}}
    </tbody>
  </table>

</section>

<script type=text/template id=item_template>
  <td><a class=remove title=Entfernen>x</a></td>
</script>


<section id=person class=edit>
</section>

<script type=text/template id=edit_template>
  <p><%= id %></p>
  <p><%= first_name %></p>
  <p><%= last_name %></p>
  <p><%= email %></p>
</script>
