<section id=people class=items>

  <table>
    <tbody>
    </tbody>
  </table>

</section>

<script>var url = '/api/people';</script>
<script type=text/template id=template>
  <td><%= id %></td>
  <td><%= name %></td>
  <td><%= email %></td>
</script>
