<section id=news>

  <header class=row>
    <h2 class=threequarter>Sponsoren</h2>
    <nav class="quarter second">
      <form action="/admin/sponsors" method=post>
        <button class="btn btn-square icon-plus">Neuer Sponsor</button>
      </form>
    </nav>
  </header>

  <table class="width-100 striped">
    <tbody>
      {{#sponsors}}
      <tr>
        <td><img alt="{{title}}" src="{{image_url}}"/></td>
        <td><a class="icons" title="Bearbeiten" href="{{editlink}}">&#x21;</a></td>
      </tr>
      {{/sponsors}}
    </tbody>
  </table>

</section>

