<section id=sponsor>

  <form class="forms columnar" action="{{editlink}}" method="post">
    <fieldset>
    {{#sponsor}}
      {{^new?}}
        <input type="hidden" name="_method" value="put">
      {{/new?}}
      <ul>
        <li>
          <fieldset>
            <section>
              <label class="bold" for="title">Titel <span class="req">*</span></label>
            </section>
            <input id="title" class="width-100" type="text" name="sponsor[title]" size="60" value="{{title}}" required>
          </fieldset>
        </li>
        <li>
          <fieldset>
            <section>
              <label class="bold" for="image_url">Bild Url <span class="req">*</span></label>
            </section>
            <input id="image_url" class="width-100" type="url" name="sponsor[image_url]" size="60" value="{{image_url}}" placeholder="http://" required>
          </fieldset>
        </li>
        <li>
          <fieldset>
            <section>
              <label class="bold" for="image_url">Homepage</label>
            </section>
            <input id="url" class="width-100" type="url" name="sponsor[url]" size="60" value="{{url}}" placeholder="http://">
          </fieldset>
        </li>
        <li>
          <fieldset>
            <section>
              <label class="bold" for="text">Beschreibung</label>
            </section>
            <textarea class="width-100" id="text" name="sponsor[text]" style="height: 387px">{{text}}</textarea>
          </fieldset>
        </li>

        <li class="form-section"></li>

        <li class="push">
          {{#new?}}
            <input class="btn" type="submit" value="Anlegen">
          {{/new?}}
          {{^new?}}
            <input class="btn" type="submit" value="Speichern">
          {{/new?}}
          {{#delete?}}
            <a class="red delete" href="{{deletelink}}" title="Sponsor entfernen?">Sponsor entfernen</a>
          {{/delete?}}
        </li>
      </ul>
    {{/sponsor}}
    </fieldset>
  </form>

</section>

