{{# event }}

<div class="c1-12">
{{# new? }}
  <h1 class="page-title"><a href="/rennen">Rennen</a> › Neues Rennen anlegen</h1>
{{/ new? }}
{{^ new? }}
  <h1 class="page-title"><a href="/rennen">Rennen</a> › {{ title }}</h1>
{{/ new? }}
</div>

<div class="c1-12 entry-content">

  <div class="c1-9 event-form">
    <form method="post" action="{{ save_link }}">
      {{# errors? }}
      <ul class="error">
        {{# errors }}
        <li>{{ message }}</li>
        {{/ errors }}
      </ul>
      {{/ errors? }}
      <p>
        <label for="event_date">
          <small>Datum</small>
          <small class="format">YYYY-MM-DD</small>
        </label>
        <input type="date" id="event_date" name="event[date]" required="required" placeholder="{{ today }}" value="{{ date }}"/>
      </p>
      <p>
        <label for="event_title">
          <small>Bezeichnung</small>
        </label>
        <input type="text" class="full" id="event_title" name="event[title]" required="required" value="{{ title }}"/>
      </p>
      <p>
        <label for="event_url">
          <small>URL</small>
        </label>
        <input type="url" class="full" id="event_url" name="event[url]" placeholder="http://" value="{{ url }}"/>
      </p>
      <p>
        <label for="event_distance">
          <small>Distanz</small>
        </label>
        <input type="number" id="event_distance" name="event[distance]" placeholder="80" value="{{ distance }}"/>
      </p>
      <p>
        <button class="clean-gray" type="submit"><span>Speichern</span></button>
      </p>
    </form>
  </div>

  <div class="c10-12 event-form-aside">
  </div>

</div>
{{/ event }}
