<div id="slider" class="c1-12">

  <div class="slides_container">
    <div>
      <img width="826" height="465" src="/slides/4.jpg"/>
    </div>
  </div>

</div>

<hr/>

<div class="c1-12 home-wrap">

  <div class="c1-3 news-box">
    <h3><a href="/news" title="Weitere Nachrichten">News</a></h3>
    <p>Rennberichte und Neuigkeiten des Berlin Racing Team</p>
    <a class="droid-italic" href="/news" title="Weitere Nachrichten">Archiv »</a>
  </div>

  <div class="c4-12">
  {{#news}}
    <div class="{{index_class_name}}">
      <h3><a href="{{permalink}}" title="{{title}}">{{title}} »</a></h3>
      <p class="meta"><span class="date">{{full_date}}</span></p>
      {{#teaser}}<p>{{teaser}}</p>{{/teaser}}
    </div>
    {{#index_divider}}<hr/>{{/index_divider}}
  {{/news}}
  </div>

</div>


