<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=900">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>

  {{#current_person}}
  <div id="current_person">
    <div class="container">
        <div class="c1-1">
          <a href="{{permalink}}" title="{{name}}">
              <img class="avatar" src="{{avatar_url}}" width="45" height="45"/>
          </a>
        </div>
        <div class="c2-9">
          <p>Hallo <a href="{{permalink}}">{{first_name}}</a>, du bist angemeldet.<br/><a href="{{editlink}}">Profil bearbeiten</a> · <a href="/admin/logout">Abmelden</a></p>
        </div>
    </div>
  </div>
  {{/current_person}}

  <div id="header" class="container">
    <h1><a href="/"><span>Berlin Racing Team</span></a></h1>
    <div id="primary-nav">
      <ul>
        <li><a href="/" class="{{nav_home}}">Home</a></li>
        <li><a href="/news" class="{{nav_news}}">News</a></li>
        <li><a href="/team" class="{{nav_team}}">Team</a></li>
        <li><a href="/rennen" class="{{nav_rennen}}">Rennen</a></li>
        <li><a href="/sponsoren" class="{{nav_sponsoren}}">Sponsoren</a></li>
        <li><a href="/kontakt" class="{{nav_kontakt}}">Kontakt</a></li>
      </ul>
    </div>
  </div>

  <hr/>

  <div id="content" class="container">
    {{{yield}}}
  </div>

  <div id="footer">

    <div class="container">

      <div class="c1-3">
        <img style="margin-bottom: 14px" width="27" height="20" src="/img/gate_small.png"/>
        <p>Berlin Racing Team, 2008 von vier ehemaligen Juniorenfahrern und Freizeitsportlern gegründet. Seither stetig gewachsen.</p>
      </div>

      <div class="c4-9 team">
        <h3 class="widget">
          <a href="/team">Team <span class="raquo">»</span></a>
        </h3>
        <ul>
          {{#team}}
          <li>
            <a href="{{permalink}}" title="{{name}}">
              <img src="{{avatar_url}}" width="45" height="45" alt="{{name}}"/>
            </a>
          </li>
          {{/team}}
        </ul>
      </div>

      <div class="c10-12 next_events">
        {{#has_next_races }}
        <h3 class="widget">
          <a href="/rennen">Nächste Rennen <span class="raquo">»</span></a>
        </h3>
        <ul>
          {{#next_races }}
          <li>
            <div class="date">{{ date }}</div>
            <div class="title">{{ title }}</div>
          </li>
          {{/next_races }}
        </ul>
        {{/has_next_races }}
      </div>

    </div>

    <hr/>

    <div class="container border">
      <p class="social">Wir sind auch bei <a href="https://www.facebook.com/berlinracingteam" title="Zur Facebook Seite vom Berlin Racing Team">Facebook</a>.</p>
      <p class="copyright">Berlin Racing Team © {{copyright_year}}</p>
    </div>

  </div>

  <script src="/js/ender.min.js"></script>
  <script src="/js/app.js"></script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-67221-8']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</body>
</html>
