{{# news }}

<div class="c1-12">
{{# new? }}
  <h1 class="page-title">Neue Meldung anlegen</h1>
{{/ new? }}
{{^ new? }}
  <h1 class="page-title">{{ title }}</h1>
{{/ new? }}
</div>

<div class="c1-12 entry-content">

  <div class="c1-9 news-form">
    <form method="post" action="{{ save_link }}">
      {{# errors? }}
      <ul class="error">
        {{# errors }}
        <li>{{ message }}</li>
        {{/ errors }}
      </ul>
      {{/ errors? }}
      <p>
        <label for="news_date">
          <small>Datum</small> <small class="format">YYYY-MM-DD</small>
        </label>
        <input type="date" id="news_date" name="news[date]" placeholder="{{ today }}" required="required" value="{{ date }}"/>
      </p>
      <p>
        <label for="news_title"><small>Titel</small></label>
        <input class="full" type="text" id="news_title" name="news[title]" required="reguired" value="{{ title }}"/>
      </p>
      <p>
        <label for="news_teaser"><small>Teaser</small></label>
        <textarea id="news_teaser" name="news[teaser]" rows="2" required="required">{{ teaser }}</textarea>
      </p>
      <p>
        <label for="news_message"><small>Text</small></label>
        <textarea id="news_message" name="news[message]" rows="15">{{ message }}</textarea>
      </p>
      <p>
        <label for="news_event_id">
          <small>Rennen</small> <small class="format">wählen, wenn Rennbericht</span>
        </label>
        <select name="news[event_id]" size="1">
            <option value="">(leer)</option>
            {{# events }}
            <option value="{{ id }}"{{# selected }} selected="selected"{{/ selected }}>{{ date }} - {{ title }}, {{ distance }} km</option>
            {{/ events }}
        </select>
      </p>
      <p>
        <button class="clean-gray" type="submit"><span>Speichern</span></button>
      </p>
    </form>
  </div>

  <div class="c10-12 news-form-aside">
  </div>

</div>
{{/ news }}
