<div class="unit-centered unit-40">

  <% unless email.empty? %>
    <ul class="errors">
      <li>Unbekannte E-Mail oder falsches Password</li>
    </ul>
  <% end %>

  <form class="forms" action="/login" method="post">
    <input type="hidden" name="to" value="<%= to %>"/>
    <label>
      Benutzername/E-Mail
      <input type="text" name="email" value="<%= email %>" required <% if email.empty? %> autofocus="autofocus"<% end %>>
    </label>
    <label>
      Passwort
      <input type="password" name="password" required<% unless email.empty? %> autofocus="autofocus"<% end %>/>
    </label>
    <p>
      <button type="submit" class="btn">Anmelden</button>
    </p>
  </form>

</div>
