<div class="c1-12 home-wrap admin">

    <div class="c1-9">
        {{#next_events?}}
        <h2>Nächste Rennen</h2>
        <p>Markiere die Rennen, an denen du teilnehmen willst.</p>
        <table>
            <tbody>
                {{#next_events }}
                <tr id="{{ id }}">
                    <td class="date">{{ date }}</td>
                    <td class="info">{{ title }}, {{ distance }} km<br/>
                        <ul class="participants">
                            {{#participations }}
                            <li{{#me }} class="me"{{/me }}>{{ name }}{{^last }},{{/last }}</li>
                            {{/participations }}
                        </ul>
                    </td>
                    <td>
                        <input class="participation" type="checkbox" value="{{ participationlink }}"{{#iparticipate}} checked="checked"{{/iparticipate}}/>
                    </td>
                </tr>
                {{/next_events }}
            </tbody>
        </table>
        <script type="js/template" id="participants-li-first">
            <li class="me">{{ current_person.name }}</li>
        </script>
        <script type="js/template" id="participants-li-more">
            <li class="me">{{ current_person.name }}, </li>
        </script>
        {{/next_events?}}
    </div>

</div>


