<h1>Anmelden</h1>

  {{> _flash}}

  <form method="post" action="/login">
    <fieldset>
      <!--<input type="hidden" name="next" value="{{next}}"/>-->
      <p>
        <label for="email"><small>Benutzername/E-Mail</small></label>
        <input type="text" id="email" name="email" required="required" value="{{email}}"{{^email}} autofocus="autofocus"{{/email}}/>
      </p>
      <p>
        <label for="password"><small>Passwort</small></label>
        <input type="password" id="password" name="password" required="required"{{#email}} autofocus="autofocus"{{/email}}/>
      </p>
      <p>
        <button type="submit">Anmelden</button>
      </p>
    </fieldset>
  </form>
