<div class="c1-12">
  <h1 class="page-title">Leider konnte die gewünschte Seite nicht gefunden werden.</h1>
</div>

<div class="c1-12 entry-content">
  <p>Bitte prüfen Sie:</p>
  <ul>
    <li>die Schreibweise der URL (Groß- und Kleinschreibung beachten)</li>
    <li>Ihren Bookmark</li>
    <li>die Seite, von der Sie gekommen sind.</li>
  </ul>
</div>
