<div class="c1-12">
  <h1 class="page-title">Team</h1>
</div>

<div class="c1-12 entry-content">
  <ul class="people">
    {{#people}}
    <li class="{{people_list_class_name}}">
      <a class="thumb" href="{{permalink}}">
        <img src="{{medium_url}}" alt="{{name}}" width="182" height="137"/>
      </a>
      <h2>
        <a href="{{permalink}}">{{name}}</a>
      </h2>
    </li>
    {{/people}}
  </ul>
</div>

