<div class="c1-12">
  <h1 class="page-title">Unsere Partner und Sponsoren</h1>
</div>

<div class="c1-12 entry-content">

  <div class="c1-6 sponsor">
    <p>
      <a href="http://www.nu3.de/">
        <img src="/sponsors/nu3.png" width="220" height="169" alt="Die Nährstoffexperten: Nährstoffe &amp; Nahrungsergänzung bei nu3" style="margin-left: 80px"/>
      </a>
    </p>
  </div>

  <div class="c7-12 sponsor">
    <p>
      <a href="http://previtacore.com/" title="PrevitaCore Trainings- und Therapiezentrum">
        <img src="/sponsors/previtacore.png" width="388" height="86" style="margin-top: 40px"/>
      </a>
    </p>
  </div>

  <hr/>

  <div class="c1-6 sponsor">
    <p>
      <a href="http://www.fahrrad-hauptmann.de/">
        <img src="/sponsors/fahrrad-hauptmann.png" width="388" height="106" alt="Fahrrad Hauptmann in Köpenick"/>
      </a>
    </p>
  </div>

  <div class="c7-12 sponsor">
    <p>
      <a href="http://www.vabsolut.de/">
        <img src="/sponsors/vabsolut.png" width="388" height="68" alt="VAbsolut - Custom Bikes. Wheels.Training" style="margin-top: 18px"/>
      </a>
    </p>
  </div>

  <div class="c1-6 sponsor">
    <p>
      <a href="http://www.whitelabgroup.com/de/">
        <img src="/sponsors/whitelab.png" width="388" height="86" alt="Whitelab Web Print Marketing" style="margin-top: 7px"/>
      </a>
    </p>
  </div>

  <div class="c7-12 sponsor">
    <p>
      <a href="http://www.btsc-radsport.de/">
        <img src="/sponsors/tsc.png" width="237" height="100" alt="Berliner TSC e.V. - Abteilung Radsport" style="margin-left: 80px"/>
      </a>
    </p>
  </div>

  <hr/>
<!--
  <div class="c1-12" style="text-align: center">
    <p>
      <a href="http://www.btsc-radsport.de/" title="">
        <img src="/sponsors/tsc.png" width="237" height="100"/>
      </a>
    </p>
  </div>
-->
</div>

