<div class="c1-12">
  <h1 class="page-title">Unsere Partner und Sponsoren</h1>
</div>

<div class="c1-12 entry-content">

  <div class="c1-6 sponsor">
    <p>
      <a href="http://ennux.de/" title="Ennux Strom- und Gasportal">
        <img src="/sponsors/ennux.png" width="374" height="88"/>
      </a>
    </p>
  </div>

  <div class="c7-12 sponsor">
    <p>
      <a href="http://previtacore.com/" title="PrevitaCore Trainings- und Therapiezentrum">
        <img src="/sponsors/previtacore.png" width="388" height="86"/>
      </a>
    </p>
  </div>

  <hr/>

  <div class="c1-6 sponsor">
    <p>
      <a href="http://whitelab.de/" title="Whitelab Web Print Marketing">
        <img src="/sponsors/whitelab.png" width="388" height="86"/>
      </a>
    </p>
  </div>

  <div class="c7-12 sponsor">
    <p>
      <a href="http://www.hoehenfitness-jena.de/" title="Höhenfitness Jena">
        <img src="/sponsors/hoehenfitness.png" width="388" height="48"/>
      </a>
    </p>
  </div>

  <hr/>

  <div class="c1-12" style="text-align: center">
    <p>
      <a href="http://www.btsc-radsport.de/" title="Berliner TSC e.V. - Abteilung Radsport">
        <img src="/sponsors/tsc.png" width="237" height="100"/>
      </a>
    </p>
  </div>

</div>

