<!DOCTYPE html>
<html>
<head>
  <title>Berlin Racing Team</title>
  <%= stylesheet_link_tag    "application", type: nil, media: nil %>
  <%= javascript_include_tag "application", type: nil %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
